*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: aliceblue;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #90ebf7;
    color: black;
    padding: 25px 60px;
    margin-bottom: 30px;
    .navbar-elements{
      .novedades{
        display: flex;
        justify-content: center;
        margin-top: 0.5em;
      }
    }
    .cart{
        background-color: #2482e0;
        color: rgb(255, 248, 248);
        position: relative;
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
        &:hover{
          transition: all;
          transform: scale(1.1);
          background-color: white;
          color: #2482e0;
        }
        .cartAmount{
            position: absolute;
            border-radius: 10px;
            top: -15px;
            right: -3px;
            font-size: 14px;
            background-color: red;
            color: white;
            padding: 3px;
        }
    }
}
.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap: 2em;
    margin-bottom: 2em;
    justify-content: center;
    .item{
        background-color: #e1e7ee;
        &:hover{
          transition: all 0s;
          border: 1px solid black;
        }
        .details{
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
            .price-quantity{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .buttons{
                    display: flex;
                    gap: 7px;
                    font-size: 18px;
                    .bi-bag-dash{
                        color: red;
                    }
                    .bi-bag-plus{
                        color: rgb(26, 204, 26);
                    }
                }
            }
        }
    }
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}


.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
    margin-bottom: 2em;
    .cart-item {
        border: 1px solid #212529;
        display: flex;
        img{
          margin-right: 0.5em;
          height: 100%;
        }
        .title-precio-x {
          width: 220px;
          display: flex;
          justify-content: space-between;
          i{
            font-size: 1.3em;
          }
          .title-precio {
              display: flex;
              align-items: center;
              gap: 10px;
              .cart-item-precio {
                  background-color: #212529;
                  color: white;
                  border-radius: 4px;
                  padding: 3px 6px;
                }
            }
        }
      }  
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .bi-bag-plus {
    color: red;
  }
  
  .bi-bag-dash {
    color: green;
  }
  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }

  .contCompr{
    font-size: small;
    color: blue;
  }
  
.card{
  background-color: #e1e7ee;
}

/* Media Queries */


@media (min-width:1550px){
  .shop{
      grid-template-columns: repeat(5,223px);
  }
  .shopping-cart {
    grid-template-columns: repeat(1, 800px);
    .cart-item {
        .title-precio-x {
            width: 690px;
          }
      }  
  }
  .card{
    width: 70em;
  }
}

@media (max-width:1550px){
  .shopping-cart {
    grid-template-columns: repeat(1, 600px);
    .cart-item {
        .title-precio-x {
            width: 490px;
          }
      }  
  }
  .card{
    width: 50em;
  }
}

@media (max-width:1050px){
  .shop{
      grid-template-columns: repeat(3,223px);
  }
  .shopping-cart {
    grid-template-columns: repeat(1, 480px);
    .cart-item {
        .title-precio-x {
            width: 370px;
          }
      }  
  }
  .card{
    width: 40em;
  }
}

@media (max-width:768px){
  .shop{
      grid-template-columns: repeat(2,223px);
  }
  .shopping-cart {
    grid-template-columns: repeat(1, 400px);
    .cart-item {
        .title-precio-x {
            width: 290px;
          }
      }  
  }
  .card{
    width: 30rem;
  }
}

@media (max-width:576px){
  .shop{
      grid-template-columns: repeat(1,223px);
  }
  .shopping-cart {
    grid-template-columns: repeat(1, 300px);
    .cart-item {
        .title-precio-x {
            width: 190px;
          }
      }  
  }
  .card{
    width: 20em;
  }
}

  
  
  
  
  